.icondiv{
    padding: 6px;
    display: table-cell;
    /*垂直居中 */
    vertical-align: middle;
    /*水平居中*/
    text-align: center;
.icondiv-p{
    margin: 0;
}
.icondiv-p2{
    margin: 0;
    color: #8470FF;
}
}
